<!-- fragment 2 start -->
<table class="w-full fr-background">
  <tr>
    <td valign="top" align="center" class="pad">Sint cupidatat occaecat ut</td>
  </tr>
  <tr>
    <td valign="top" align="center" class="pad-section">
      <table width="100%" role="presentation" cellpadding="0" cellspacing="0">
        <tr>
          <td width="48%" valign="top" align="center">
            <table width="100%" role="presentation" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" align="center">
                  <div class="w-full header text-white pad-entire4">
                    <a href="#"><img src="image-3.png" alt="hero image" class="img"></a>
                  </div>
                </td>
              </tr>

              <tr>
                <td valign="top" align="center" class="pad-entire3 text-white">Nisi ut ade</td>
              </tr>

              <tr>
                <td valign="top" align="center" class="text-3 text-white pad-section1 mob-space1">
                  Lorem ipsum dolor sit amet, <br class="em-hide">consectetur adipiscing elit, sed<br class="em-hide">
                  do
                  eiusmod tempor incididunt <br class="em-hide">ut labore et dolore magna<br class="em-hide"> aliqua. Ut
                  enim
                  ad minim<br class="em-hide"> veniam.<sup>1</sup>
                </td>
              </tr>
            </table>
          </td>
          <td width="3%" valign="top" class="em-hide"></td>

          <td width="49%" valign="top" align="center" class="pad-section1 mob-sec em-hide">
            <table width="100%" role="presentation" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="top" class="text-white">
                  <div class="w-full header text-white pad-entire4">
                    <a href="#"><img src="image-3.png" alt="hero image" class="img-two image-container"></a>

                  </div>
                </td>
              </tr>
              <tr>
                <td class="pad-entire3 text-white text" valign="top" align="center"> Duis aute irure

                </td>
              </tr>
              <tr>
                <td class="text-3 text-white pad-section1" valign="top" align="center">
                  Lorem ipsum dolor sit amet, <br class="em-hide">consectetur adipiscing elit, sed<br class="em-hide">
                  do
                  eiusmod tempor incididunt <br class="em-hide">ut labore et dolore magna<br class="em-hide"> aliqua. Ut
                  enim
                  ad minim<br class="em-hide"> veniam.<sup>2</sup>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>


  <tr>
    <td valign="top" align="center" class="pad-section hide-desktop">
      <table width="100%" role="presentation" cellpadding="0" cellspacing="0">
        <tr>
          <td width="48%" valign="top" align="center" class="em-hide">
            <table width="100%" role="presentation" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" align="center">
                  <div class="w-full header text-white pad-entire4">
                    <a href="#"><img src="image-3.png" alt="hero image" class="img"></a>
                  </div>
                </td>
              </tr>

              <tr>
                <td valign="top" align="center" class="pad-entire3 text-white">Nisi ut ade</td>
              </tr>

              <tr>
                <td valign="top" align="center" class="text-3 text-white pad-section1 mob-space1 mob-space1">
                  Lorem ipsum dolor sit amet, <br class="em-hide">consectetur adipiscing elit, sed<br class="em-hide">
                  do
                  eiusmod tempor incididunt <br class="em-hide">ut labore et dolore magna<br class="em-hide"> aliqua. Ut
                  enim
                  ad minim<br class="em-hide"> veniam.<sup>1</sup>
                </td>
              </tr>
            </table>
          </td>
          <td width="3%" valign="top" class="em-hide"></td>

          <td width="49%" valign="top" align="center" class="pad-section1 mob-sec ">
            <table width="100%" role="presentation" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="top" class="text-white">
                  <div class="w-full header text-white pad-entire4">
                    <a href="#"><img src="image-3.png" alt="hero image" class="img-two image-container"></a>

                  </div>
                </td>
              </tr>
              <tr>
                <td class="pad-entire3 text-white text" valign="top" align="center"> Duis aute irure

                </td>
              </tr>
              <tr>
                <td class="text-3 text-white pad-section1 mob-space1" valign="top" align="center">
                  Lorem ipsum dolor sit amet, <br class="em-hide">consectetur adipiscing elit, sed<br class="em-hide">
                  do
                  eiusmod tempor incididunt <br class="em-hide">ut labore et dolore magna<br class="em-hide"> aliqua. Ut
                  enim
                  ad minim<br class="em-hide"> veniam.<sup>2</sup>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- fragment 2 end -->
