<table class="w-full pad-leftright">
  <tr>
    <td class="text-2 text-white px-5" valign="top" align="left">ut enim ad minim:</td>
  </tr>

  <tr>
    <td class="text-footer text-white px-5" valign="top" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
  </tr>

  <tr>
    <td class="text-footer text-white px-5" valign="top" align="left">Ut enim ad minim venaim, quis nostrud exerciatation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
  </tr>

  <tr>
    <td class="text-2 text-white px-5" valign="top" align="left">Sint occaecat cupidatat:</td>
  </tr>

  <tr>
    <td class="text-white px-5" valign="top" align="left">
      
<table width="100%" cellpadding="0" cellspacing="0">

  <tr>
    <td valign="top" align="left" class="text-footer text-white mob-number" width="3%">1.</td>

    <td valign="top" align="left" class="text-footer text-white" width="97%">Excepteur sint occaecat cupidatat non proident, 
      sunt  in culpa qui officia deserunt mollit anim id est laborum.</td>
  </tr>

  <tr>
    <td valign="top" align="left" class="text-footer3 text-white mob-number" width="3%">2.</td>

    <td valign="top" align="left" class="text-footer3 text-white pad-btm" width="97%">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</td>
  </tr>
</table>
</td>
  </tr>

<tr>
    <td class="text-white px-5" valign="top" align="left">
      <hr class=" hr-line"/>
       </td>  
      </tr>
   <tr>
  <td class="foot-text text-white px-5" valign="top" align="center">Sed do eiusmod tempor  incididunt ut labore</td>
 </tr>

 <tr>
   <td align="center" valign="top" class="text-white pad-btm pad-entire5 px-5" >
            <div class="w-full header text-white >
              <a href="#"><img src="image-4.jpeg" alt="hero image"  class="img text-white"></a>
            </div>
          </td></tr>
</table>
